<ion-view title="Login" hide-nav-bar="true" class="loopbackground_new" hide-back-button="true">
  <ion-content class="signuppadding" ng-controller="signUpCtrl" overflow-scroll="false">
    <div class="list">
      <div class="logo">
      </div>
      <!-- <div class="sublogo">Charity  & Loyalty Program</div> -->
    </div>
    <div class="WorkSansLight" style="color: #002f60;font-size: 20px;"> Sign up with...
    </div>
    <form ng-submit="doSignUp()" class="ng-pristine ng-valid" style="padding: 8% 0%;" name="myForm" novalidate>
      <div class="list">
        <!-- <label class="item item-input signForm">
          <input type="text" ng-model="loginData.username" class="ng-pristine ng-untouched ng-valid" placeholder="Name *" style="" required>
        </label> -->

          <div class="row" style="padding: 0px;">
            <div class="list  col-50" style="padding-right: 5px;margin-bottom: 9%;">
             <label class="item item-input signForm" style="margin-bottom: 0px;" >
             
              <input type="text" ng-model="loginData.firstname"  placeholder="Firstname *" class="ng-pristine ng-untouched ng-valid"  required style="padding-right: 10px">
            </label>
            </div>
            <div class="list  col" style="margin-bottom: 9%;padding: 0px;">
             <label class="item item-input signForm" style="margin-bottom: 0px;">
             
              <input type="text" ng-model="loginData.lastname"  placeholder="Lastname *" class="ng-pristine ng-untouched ng-valid"  required style="padding-right: 10px">
            </label>
            </div>
        </div>

        <!--    <p ng-show="myForm.loginData.username.$error.required">* Username is required</p> -->
        <label class="item item-input signForm" >
          <input type="email" ng-model="loginData.email" class="ng-pristine ng-untouched ng-valid" placeholder="Email Address *" required>
        </label>
        <label class="item item-input signForm" >
          <input type="number" ng-model="loginData.phone" class="ng-pristine ng-untouched ng-valid" placeholder="Phone" >
        </label>
        <button class="button button-small signUpButton WorkSansLight" type="submit" ng-disabled="myForm.$invalid">Sign Up
        </button>
      </div>
    </form> 
    <div class="signUpContainer">
      <div class="signUpCircle">
        <span style="position: relative;font-size: 80%;color: #878787">or
        </span>
      </div>
    </div>
    <div class="row" style="padding: 0px;margin-bottom: 8%">
      <div class="col col-50 fbimg" ng-click="facebookLogin()">
      </div>
      <div class="col col-50 googleimg" ng-click="googleLogin()">
      </div>
    </div>
    <div class="WorkSansLight">
      <span style="color:#92a0a0">Already have an account? 
      </span>
      <a href="#/signIn" style="color:#002f60;text-decoration:none"> Sign in now
      </a>
    </div>
  </ion-content>
</ion-view>
