<ion-view view-title="Transaction History" hide-back-button="true">
  <ion-content  overflow-scroll="false" padding="false" class="has-header has-tabs">
    <div class="card transaction">
	  <div class="item item-text-wrap transCard row" style="padding:8px">
	  	  <div class="col-10 backarr"></div>
		  <div class="col WorkSansLight no_anchorTran"  style="color: #002758;font-size: 14px;">310310155 - 11 December 2015</div>
	      <div class="col-10 arrowImage"></div>
	  </div>
	</div>
  	<div class="card" ng-repeat="bill in transbills track by $index"  ng-click="viewReceipt(bill)">
	  <div class="item item-divider item-borderless" style="background-color: white;padding-bottom: 0px;padding-top: 4%;">
	    <h2 style="color: #002758;font-family: 'WorkSansLight';font-size: 14px;">{{bill.store_name}}</h2>
	    <p class="transCardSecond " style="color: #797979;font-family: 'WorkSansLight';">{{bill.newreceipt[1]}},{{bill.newreceipt[2]}}</p>
	    <div class="row transCardHeader" style="">
		  <div class="col-33" style="color: #797979;font-family: 'WorkSansLight';">Receipt: </div>
		  <div class="col-" style="color: #797979;font-family: 'WorkSansLight';">{{bill.receipt_id}}</div>
		</div>
		 <div class="row transCardHeader" style="">
		  <div class="col-33" style="color: #797979;font-family: 'WorkSansLight';">Date: </div>
		  <div class="col-" style="color: #797979;font-family: 'WorkSansLight';">{{bill.date}}</div>
		</div>
		<!--  <div class="row transCardHeader" style="">
		  <div class="col-33" style="color: #797979;font-family: 'WorkSansLight';">Pay mode:</div>
		  <div class="col-" style="color: #797979;font-family: 'WorkSansLight';">{{bill.paymentmode}}</div>
		</div> -->
		<hr style="border: 1px solid #ddd">
	    <!-- <p>Receipt:  <span> 34adgcehhdf34</span></p>
	    <p>DAte : <span></span></p>
	    <p> payment mode:<span>Credit card</span></p> -->
	  </div>
	   <!-- <div class="item item-text-wrap item-borderless" style="background-color: white;padding-top: 0px;">
	    <p>Receipt:  <span> 34adgcehhdf34</span></p>
	    <p>Receipt:  <span> 34adgcehhdf34</span></p>
	  </div> -->
	  <div class="item item-divider item-borderless" style="background-color: white;padding-top: 0px;min-height: 20px;padding-bottom:3%">
	     <div class="row transCardfooter" >
		  <div class="col-33" style="color: #5050509;font-family: 'WorkSansLight';" >Total </div>
		  <div class="col-67" style="text-align: right;color: #ffca4c;font-family: 'WorkSansRegular';" >${{bill.total}}</div>
		</div>
		<!-- <div class="row transCardHeader" style="">
		  <div class="col-33">Receipt: </div>
		  <div class="col-67" style="text-align: right;">34adgcehhdf34</div>
		</div> -->
	  </div>
	</div>
 </ion-content>
 <div class="tabs tabs-icon-top" style="background-color:white;box-shadow: 0 -5px 5px -5px #797979;border-top:1px solid #797979;background-image:none !important;opacity:1.1">
  
 <a class="tab-item {{w1icontext()}}" ng-click="w1Changed()">
    <i class="icon {{w1_class()}} "></i>
    My Wallets
 </a>
     <a class="tab-item {{c1icontext()}}" ng-click="c1Changed()">
    <i class="icon  {{c1_class()}}"></i>
    My Charities
  </a><a class="tab-item {{pro1icontext()}}" ng-click="pro1Changed()" >
    <i class="icon {{pro1_class()}}"></i>
    My Promotions
  </a>
  <a class="tab-item {{s1icontext()}} " ng-click="s1Changed()" >
    <i class="icon  {{s1_class()}}"></i>
    Stores
  </a>
  <a class="tab-item {{m1icontext()}}"  ng-click="m1Changed()" >
    <i class="icon  {{m1_class()}}" ></i>
    More
  </a>
</div>


</ion-view>